* {
    font-family: rooney-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none
}

html {
    scroll-behavior: smooth
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6446a6
}

a, article, aside, div, footer, h1, hr, section, svg {
    color: #fff
}

footer, h1, h2, h3, header, section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 700
}

section {
    align-items: center;
    padding: 1em 1em 2.5em 1em;
    width: 100%
}

header {
    font-weight: 700
}

h2 {
    font-weight: 700
}

h1 {
    font-size: 1em;
    font-weight: 700
}

footer {
    width: 100%;
    padding: 1em;
    background: #3e2b66
}

section:nth-child(2n+1) {
    background: #6446a6
}

section:nth-child(2n) {
    background: #453073
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

ul {
    margin: 1em 0 0 0;
    padding: 0
}

.topAccueil {
    display: block
}

#navBtn {
    max-width: 20%;
    height: 50%;
    position: absolute;
    z-index: 4;
    right: 0;
    padding-right: 1em
}

#navTop {
    z-index: 3;
    display: flex;
    position: fixed;
    height: 10%;
    width: 100%;
    background: #3e2b66;
    margin: 0;
    padding: 0
}

#navTop img {
    padding-left: 1em;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    position: absolute;
    left: 0
}

#navHidden {
    padding: 10% 0;
    display: flex;
    background: #3e2b66;
    position: fixed;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-out
}

#navTop a {
    width: 50%
}

#navTop a:nth-child(2) {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1em
}

#navTop a:nth-child(1) {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row
}

.hrShort {
    width: 50%
}

.hrLong {
    width: 80%
}

.background {
    width: 100%;
    padding: 0;
    margin: 0
}

#sectionBackground {
    padding: 0;
    margin: 10vh 0 0 0;
    width: 100%
}

#sectionBackground img {
    height: 100%;
    width: 100%
}

.imagePresentation {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center
}

.imagePresentation div {
    width: 100%;
    padding: 1.5em
}

.imagePresentation div img {
    width: 100%
}

.titleObjectifs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row
}

.titleObjectifs h3 {
    padding-right: .5em
}

#googleMap {
    margin-top: 1em;
    width: 100%
}

#frameGoogleMap {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0
}

#frameGoogleMap iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute
}

#organisation > div {
    width: 80%
}

#organisation > div > aside {
    margin: 1em
}

#organisation h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 700
}

#organisation img {
    width: 50%
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0
    }
    1% {
        display: block;
        opacity: 0
    }
    100% {
        display: flex;
        opacity: 1
    }
}

section > h2 {
    margin: 1em;
    font-size: 1.5em
}

section > article {
    text-align: center
}

#accueil {
    padding: 2em 0 3em 0
}

@keyframes slidein {
    0% {
        margin-top: 100vh
    }
    100% {
        margin-top: 0
    }
}

@keyframes slideout {
    0% {
        margin-top: 0
    }
    100% {
        margin-top: -100vh
    }
}

.middle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

a:hover, a:hover div, article:hover .iconHover {
    color: #9a4ea6;
    transition: all ease .3s
}

.iconHover {
    color: #c4aef2
}

#slider figure, #sliderActivitee figure {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left
}

#slider figure {
    width: 700%;
    animation: 24.5s slidy infinite
}

#sliderActivitee figure {
    width: 1000%;
    animation: 35s slidyActivitee infinite
}

#slider figure img, #sliderActivitee figure img {
    height: auto;
    float: left
}

#slider figure img {
    width: 14.28%
}

#sliderActivitee figure img {
    width: 10%
}

#slider, #sliderActivitee {
    width: 75%;
    text-align: center;
    overflow: hidden
}

#mentionLegales {
    margin-top: 10vh
}

#animationPresentationMaisonPhone {
    width: 100%;
    height: 100%
}

#animationPresentationMaisonDesktop {
    width: 100%;
    height: 100%
}

#containPresentationMaison {
    padding-top: 2em;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center
}

#loader {
    width: 100vw;
    height: 100vh;
    background: #3e2b66;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    opacity: 100%;
    top: 0;
    transition: opacity ease .8s
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    transform-origin: 40px 40px
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px
}

.lds-roller div:nth-child(1) {
    animation-delay: -36ms
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px
}

.lds-roller div:nth-child(2) {
    animation-delay: -72ms
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px
}

.lds-roller div:nth-child(3) {
    animation-delay: -108ms
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px
}

.lds-roller div:nth-child(4) {
    animation-delay: -144ms
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px
}

.lds-roller div:nth-child(5) {
    animation-delay: -.18s
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px
}

.lds-roller div:nth-child(6) {
    animation-delay: -216ms
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px
}

.lds-roller div:nth-child(7) {
    animation-delay: -252ms
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px
}

.lds-roller div:nth-child(8) {
    animation-delay: -288ms
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px
}

@keyframes lds-roller {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes slidy {
    0% {
        left: 0
    }
    9.28% {
        left: 0
    }
    14.28% {
        left: -100%
    }
    23.56% {
        left: -100%
    }
    28.56% {
        left: -200%
    }
    37.84% {
        left: -200%
    }
    42.84% {
        left: -300%
    }
    52.12% {
        left: -300%
    }
    57.12% {
        left: -400%
    }
    66.4% {
        left: -400%
    }
    71.4% {
        left: -500%
    }
    80.68% {
        left: -500%
    }
    85.68% {
        left: -600%
    }
    94.96% {
        left: -600%
    }
    100% {
        left: 0
    }
}

@keyframes slidyActivitee {
    0% {
        left: 0
    }
    5% {
        left: 0
    }
    10% {
        left: -100%
    }
    15% {
        left: -100%
    }
    20% {
        left: -200%
    }
    25% {
        left: -200%
    }
    30% {
        left: -300%
    }
    35% {
        left: -300%
    }
    40% {
        left: -400%
    }
    45% {
        left: -400%
    }
    50% {
        left: -500%
    }
    55% {
        left: -500%
    }
    60% {
        left: -600%
    }
    65% {
        left: -600%
    }
    70% {
        left: -700%
    }
    75% {
        left: -700%
    }
    80% {
        left: -800%
    }
    85% {
        left: -800%
    }
    90% {
        left: -900%
    }
    95% {
        left: -900%
    }
    100% {
        left: 0
    }
}

@media (min-width: 680px) {
    * {
        font-size: 1.05em
    }

    h1, section > h2 {
        font-size: 1.9em
    }

    section > article {
        width: 80%
    }

    #googleMap {
        width: 50%
    }

    #organisation aside, #organisation div, #organisation > div > article, #organisation > div > article > div, #organisation > div > article > div > ul {
        display: flex
    }

    #organisation > div > article > div > ul {
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: auto
    }

    #organisation aside {
        width: 80%;
        height: auto
    }

    #organisation > div {
        width: 70%;
        margin: 0;
        padding: 0;
        height: auto
    }

    #organisation h3 {
        padding: 1em 0
    }

    #organisation > div > article {
        width: 50%;
        justify-content: center;
        margin: 0;
        padding: 0;
        height: auto
    }

    #organisation > div > aside {
        width: 50%;
        flex-direction: row-reverse;
        margin: 0;
        padding: 0;
        height: auto
    }

    #organisation img {
        width: 80%;
        margin: 0;
        padding: 0;
        height: auto
    }

    .imagePresentation div {
        width: 70%
    }
}

@media (min-width: 1200px) {
    h1, section > h2 {
        width: 100%
    }

    #organisation > div {
        width: 40%
    }

    .imagePresentation div {
        width: 50%
    }

    #motIntro {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap
    }

    #motIntro h2 {
        width: 100%
    }

    #motIntro article:nth-child(2) {
        width: 50%
    }

    #motIntro article:nth-child(3) {
        width: 50%
    }

    #slider {
        width: 50%
    }

    #sliderActivitee {
        width: 50%
    }

    #containPresentationMaison {
        width: 50%
    }
}

@media (min-width: 1920px) {
    #organisation img {
        width: 50%
    }
}
